<div class="grid grid-cols-1 pt-12 md:pt-12 md:pt-6 md:grid-cols-3 md:gap-4">

  <div class="w-full pr-0 md:mt-12 md:pt-12 mb-6">
    <div class="bg-white md:pt-9">
    		<h1>Welcome to SARATHAYER.com</h1>
				
    </div>
  </div>

</div>