<div class="py-2 px-2 lg:px-2 lg:mt-8 md:pt-12 md:pt-6 container">
  <div class="w-full pr-0 md:pr-6 mb-6 mt-6 pt-6 md:mt-12 md:pt-12 lg:mt-8 lg:pt-8">
    <div class="bg-white md:w-3/4 lg:w-1/2">
      <div class="text-paragraph-body font-light pb-2">
        Hi, my name is Sara and I teach software and design. I love making things and helping people solve business problems through design.
      </div>

      <div class="pt-2 text-paragraph-body font-light">
      	Be notified when I release a new course, post, or product: <%= render "shared/form_newsletter" %>
    	</div>

    </div>
  </div>
</div>