<div class="py-2 px-2 lg:px-2 lg:mt-8 md:pt-12 md:pt-6 container">
  <div class="w-full pr-0 md:pr-6 mb-6 mt-6 pt-6 md:mt-12 md:pt-12 lg:mt-8 lg:pt-8">
    <div class="bg-white grid grid-cols-1 lg:grid-cols-4">
      <div class="grid lg:col-span-2 text-paragraph-body font-light">
        Hi, my name is Sara and I teach software and design. I love making things and helping people solve business problems through design.
      </div>
    </div>
  </div>
</div>