<div class="text-title text-2xl text-center mt-8 pt-8 pb-6">
  <%= "Project info".upcase %>
</div>

<div class="grid grid-cols-2 text-paragraph-body font-light text-gray-600 text-sm mb-10 pb-10">

  <div class="grid col-span-1 flex space-y-4" style="flex-direction: column; display: inline;">
    
    <div class="flex justify-end align-top mr-2">
      Project Year
    </div>

    <div class="flex justify-end align-top mr-2">
      Project Type
    </div>

    <div class="flex justify-end align-top mr-2">
      Project Team
    </div>

  </div>
  
  <div class="grid col-span-1 border-l flex space-y-4" style="flex-direction: column; display: inline;">

    <div class="flex justify-start align-top ml-2">
      <%= @project.year %>
    </div>

    <div class="flex justify-start align-top ml-2">
      <%= @project.project_type %>
    </div>

    <div class="flex justify-start align-top ml-2">
      <%= @project.project_team %>
    </div>

  </div>

</div>