<div class="flex justify-between border-t w-full sm:w-3/4">
  <p class="text-title text-center leading-tight font-hairline sm:text-3xl lg:text-4xl">
  <%= @project.subtitle.split(' ').first.upcase if @project.subtitle.present? %>
  </p>
  <p class="text-title text-center leading-tight font-hairline sm:text-3xl lg:text-4xl">
  <%= @project.subtitle.split(' ').last.upcase if @project.subtitle.present? %>
  </div>
</p>