<div class="flex justify-between border-t w-full sm:w-3/4">
  <p class="text-title text-center font-light text-2xl sm:text-4xl lg:text-5xl xl:text-6xl">
  <%= @project.subtitle.split(' ').first.upcase if @project.subtitle.present? %>
  </p>
  <p class="text-title text-center font-light text-2xl sm:text-4xl lg:text-5xl xl:text-6xl">
  <%= @project.subtitle.split(' ').last.upcase if @project.subtitle.present? %>
  </div>
</p>