<%= content_for :primary_content do %>
  <div class="lg:p-10 pt-10 pb-10 px-4">
    <h1 class="text-xl font-normal mb-6">Editing project <span class="italic"><%= @project.title %></span></h1>

    <%= render 'form', project: @project %>
  </div>
<% end %>

<% content_for :secondary_content do %>
  <%#= render "guidelines" %>
<% end %>

<%= render "basic_layout" %>