
<% if @projects.exists? %>
  <div class="grid grid-cols-1 md:pt-12 md:mt-12 md:grid-cols-2 md:gap-1">
    <% @projects.each do |project| %>
      <% if project.header_image.attached? %>
        <%= image_tag project.header_image %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="flex justify-center p-10 text-center">
    <%= render_svg 'icons/emoji-expressionless' %>
    <p class="mb-4">Wow such empty... </p>
    <%= link_to 'Create a new project', new_project_path, class: "btn btn-purple btn-small" %>
  </div>
<% end %>
