<%= content_for :primary_content do %>
  <div class="lg:p-10 pt-12 pb-10 px-4 mt-12">
    <h1 class="text-xl font-normal mb-6">Create new project (add project) <span class="italic"><%= @project.title %></span></h1>

    <%= render 'form', project: @project %>
  </div>
<% end %>

<%= render "new_project_layout" %>