/* Base */

body {
	@apply font-sans text-base leading-normal;
}

a {
  @apply text-black;
}

a:active {
  color: inherit;
}

.heading {
  @apply font-sans font-medium text-gray-800;
}

.vertical-line-project {
	border-left: .1rem solid gray;
	height: 12rem;
}

.vertical-line-contact {
	border-left: .1rem solid gray;
	height: 15rem;
}