.list {
  list-style: decimal inside;
}

.post-container {
  column-count: 3;
  column-gap: 0.5em;
}

@media screen and (max-width: 1024px) {
  .post-container {
    column-count: 1;
  }
}

.post-item {
  display: inline-block;
  margin: 0 0 0.5em;
  width: 100%;
}