.text-paragraph-body {
	font-family: acumin-pro, sans-serif;
}

.text-sidebar-nav {
	font-family: din-condensed, sans-serif;
	letter-spacing: 0.25em;
}

.text-title {
	font-family: din-condensed, sans-serif;
	letter-spacing: 0.25em;
}

.text-subtitle {
	font-family: din-2014,sans-serif;
	letter-spacing: 0.15em;
}