<% provide(:title, "Posts") %>

<div class="py-2 px-2 lg:px-2 lg:mt-8 md:pt-12 md:pt-6 container">
  <div class="w-full pr-0 md:pr-6 mb-6 mt-10 pt-10">
    <div class="bg-white">

      <% if @posts.present? %>
        <div class="post-container">
          
          <% @posts.each do |post| %>
            
              <div class="post-item shadow-lg rounded">
                <%= render 'posts/post', post: post %>
              </div>
            
          <% end %>
          
        </div>
      <% end %>

    </div>
  </div>
</div>