<%= content_for :primary_content do %>
  <div class="lg:p-10 pt-10 pb-10 px-4">
    <h1 class="text-xl font-normal mb-6">Editing gallery <span class="italic"><%= @gallery.title %></span></h1>

    <%= render 'form', gallery: @gallery %>
  </div>
<% end %>

<% content_for :secondary_content do %>
  <%#= render "guidelines" %>
<% end %>

<%= render "edit_gallery_layout" %>