<% provide(:title, "Gallery") %>

<div class="py-2 px-2 lg:px-2 lg:mt-8 md:pt-12 md:pt-6 container">
  <div class="w-full pr-0 md:pr-6 mb-6 mt-10 pt-10">
    <div class="bg-white">
      <% if @galleries.exists? %>
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
          <% @galleries.shuffle.each do |gallery| %>
            <div class="shadow-lg rounded">
              <%= link_to image_tag(gallery.gallery_image), gallery %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="grid col-span-1 md:col-span-2 block justify-center p-10 text-center">
          <div class="flex justify-center mt-10 pt-10 lg:mt-2 pb-4">
            <%= render_svg 'icons/pen' %>
          </div>
          <p class="mb-4">Coming soon... </p>
          <% if user_signed_in? && current_user.admin? %>
              <%= link_to 'Create a new gallery', new_gallery_path, class: "flex block justify-center btn btn-black btn-small" %>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>