<% provide(:title, "Gallery") %>

<div class="py-2 px-2 lg:px-2 lg:mt-8 md:pt-12 md:pt-6 container">
  <div class="w-full pr-0 md:pr-6 mb-6 mt-10 pt-10">
    <div class="bg-white">

      <% if @galleries.present? %>
        <div class="gallery-row">
          <% @galleries.shuffle.each do |gallery| %>
          <div class="gallery-column">
            <% gallery.shuffle.each do |image| %>
              <div class="shadow-lg rounded">
                <%= link_to image_tag(image.gallery_image), image %>
              </div>
            <% end %>
          </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>