<div class="grid grid-cols-1">
	<div class="flex flex-wrap px-2 lg:px-8 mt-2 lg:mt-8 container m-auto" style="justify-content: center; align-items: center;">

	  <div class="w-full pr-0 md:pr-6 mb-6 mt-8 pt-10">
	    <div class="bg-white shadow-lg rounded">
	      <%= yield :primary_content %>
	    </div>
	  </div>

	</div>
</div>