<h1>Thank you!</h1>

<p>You have successfully activated your newsletter. I will send out emails when a new course, post, or product become available on my website.</p>

<p>Privacy is very important to me. I will never rent, sell, share, spam, or otherwise abuse your email.</p>

<p><em>You can unsubscribe at any time by sending an email to hello@sarathayer.com with your email you signed up with.</em></p>

<p>Best,</p>

<p>Sara</p>